*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.dc{
    color: #F9690E;
}
.container{
    width: 1170px !important;
    margin: 0 auto;
}
.bg-light {
    background: #fff !important;
    border-bottom: 1px solid rgba(0,0,0,.55);
}
.active{
    color: #F9690E !important;
}
.banner{
    width: 100%;
    height: 630px;
    background: url('img/banner.jpg');
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    position: relative;
}
.banner-content{
    margin-left: 650px;
    text-align: right;
    padding-top:200px;
}
.banner-content h1{
    font-weight: 600;
}
.banner-content h1 span{
    color: #F9690E;
}
.banner-content button{
    font-size: 20px;
    border-radius: 0;
    
}
.banner-content button:hover{
    background: #F9690E;
    border-color: #F9690E;
    color: #fff;
}
.section-title{
    font-size: 44px;
    font-weight: 900;
    margin-bottom: 30px;
    position: relative;
}
.section-title::before{
    position: absolute;
    content: "";
    width: 30px;
    height:10px;
    background: #F9690E;
    bottom: -17px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
}